[submodule "01.FirstStepsInCoding-Lab"]
	path = 01.FirstStepsInCoding-Lab
	url = https://github.com/skider96/01.FirstStepsInCoding-Lab
[submodule "Programing-Basics-Witth-Csharp/examPB-csharp"]
	path = Programing-Basics-Witth-Csharp/examPB-csharp
	url = https://github.com/skider96/examPB-csharp
[submodule "Programing-Basics-Witth-Csharp/01.FirstStepsInCoding-Lab"]
	path = Programing-Basics-Witth-Csharp/01.FirstStepsInCoding-Lab
	url = https://github.com/skider96/01.FirstStepsInCoding-Lab
[submodule "Programming-Foundamentals-With-Csharp/12.Exercise-Arrays"]
	path = Programming-Foundamentals-With-Csharp/12.Exercise-Arrays
	url = https://github.com/skider96/12.Exercise-Arrays
[submodule "Programming-Basics-With-Csharp/01.FirstStepsInCoding-Lab"]
	path = Programming-Basics-With-Csharp/01.FirstStepsInCoding-Lab
	url = https://github.com/skider96/01.FirstStepsInCoding-Lab
